
body {
	margin: 0;
	padding: 0;
	background: #CCC;
}
.contents {
	display: table;
	width: 100%;
	height: 100vh;
	padding: 0;
	margin: 0;
	box-shadow: 0 0 50px 0 rgba(0, 0, 0, .8);
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-delay: .3s;
	transition-delay: .3s;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
}

/* ------------------------------------------------ common */
.contents__inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 30px 30px 30px 30px;
	color: #999999;
}

.contents__inner * {
	margin: auto;

}

.contents__inner>* {
	margin-top: 30px;
	margin-bottom: 30px;
}

.contents__inner h1 {
	margin: 0;
	padding: 0;
	color: #999999;
	font-size: 40px;
}

.contents__inner th {
	background: #26303d;
	color: #999999;
}

.contents__inner tr:nth-child(2n)>td {
	background: #666666;
	color: #999999;
}

.contents__inner tr:nth-child(2n+1)>td {
	background: #888888;
	color: #aaaaaa;
}

.contents__inner tr:nth-child(2n)>td * {
	color: #999999;
}

.contents__inner tr:nth-child(2n+1)>td * {
	color: #aaaaaa;
}

.contents__inner tr>* {
	padding: 10px;
	border: solid 2px #1a1e24;
}

.contents__inner table {
	border-spacing: 0;
	border-collapse: collapse;
}

/* ------------------------------------------------ drawer menu */
.drawer-menu {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	right: 0;
	width: 300px;
	height: 100%;
	padding: 120px 0;
	background: #222; /**/
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
	-webkit-transition-delay: 0s;
	transition-delay: 0s; /**/
}

.drawer-menu li {
	text-align: center;
	display: block;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	color: #fff;
}

.drawer-menu li a {
	text-align: center;
	display: block;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	color: #fff;
}

.drawer-menu li a:hover {
	color: #1a1e24;
	background: #fff;
}
/*for tablets*/
@media screen and (max-width : 1024px) {
	/* ------------------------------------------------ drawer menu */
	.drawer-menu {
		opacity: 0;
	}

	/* ------------------------------------------------ checkbox */
	.check {
		display: none;
	}

	/* ------------------------------------------------ menu button */
	.menu-btn {
		position: fixed;
		display: block;
		top: 40px;
		right: 40px;
		display: block;
		width: 40px;
		height: 40px;
		font-size: 10px;
		text-align: center;
		cursor: pointer;
		z-index: 3;
	}

	.bar {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 40px;
		height: 1px;
		background: #999;
		-webkit-transition: all .5s;
		transition: all .5s;
		-webkit-transform-origin: left top;
		-ms-transform-origin: left top;
		transform-origin: left top;
	}

	.bar.middle {
		top: 15px;
		opacity: 1;
	}

	.bar.bottom {
		top: 30px;
		-webkit-transform-origin: left bottom;
		-ms-transform-origin: left bottom;
		transform-origin: left bottom;
	}

	.menu-btn__text {
		position: absolute;
		bottom: -15px;
		left: 0;
		right: 0;
		margin: auto;
		color: #999;
		-webkit-transition: all .5s;
		transition: all .5s;
		display: block;
		visibility: visible;
		opacity: 1;
	}

	.close-menu {
		position: fixed;
		top: 0;
		right: 300px;
		width: 100%;
		height: 100vh;
		background: rgba(0, 0, 0, 0);
		-webkit-transition-property: all;
		transition-property: all;
		-webkit-transition-duration: .3s;
		transition-duration: .3s;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
		visibility: hidden;
		opacity: 0;
	}

	/* ------------------------------------------------ checked */
	.check:checked ~ .drawer-menu {
		opacity: 1;
		z-index: 2;
	}

	.check:checked ~ .contents {
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
		-webkit-transform: translateX(-300px);
		-ms-transform: translateX(-300px);
		transform: translateX(-300px);
	}

	.check:checked ~ .menu-btn .menu-btn__text {
		visibility: hidden;
		opacity: 0;
	}

	.check:checked ~ .menu-btn .bar.top {
		width: 56px;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.check:checked ~ .menu-btn .bar.middle {
		opacity: 0;
	}

	.check:checked ~ .menu-btn .bar.bottom {
		width: 56px;
		top: 40px;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.check:checked ~ .close-menu {
		-webkit-transition-duration: 1s;
		transition-duration: 1s;
		-webkit-transition-delay: .3s;
		transition-delay: .3s;
		background: rgba(0, 0, 0, .5);
		visibility: visible;
		opacity: 1;
		z-index: 3;
	}
}

@media screen and (min-width : 1024px) {
	.contents {
		width: calc(100% - 300px);
	}

	/* ------------------------------------------------ checkbox */
	.check {
		display: none;
	}

	/* ------------------------------------------------ menu button */
	.menu-btn {
		display: none;
	}
}